html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}
.container {
	animation: fadeIn 1s ease-out;
	width: 100vw;
	height: 100vh;
	background: rgba(100,100,100,0.5);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	overflow: hidden;
}

.container.out {
	animation-name: fadeOut;
}

header {
    margin-top: 40vh;
    text-align: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.progress-bar {
	width: 500px;
	height: 10px;
	border: 1px solid #111;
}

.progress-fill {
	height: 10px;
	background: dodgerblue;
}

.close-button {
	display: inline-block;
	font-size: 18px;
	margin: 20px;
}